<div class="mail-config-edit">
    <div class="header">
        <h2 mat-dialog-title class="dialog-title">
            <span class="title" *ngIf="!mailConfig.id">
                Создать директорию
            </span>
            <span class="title" *ngIf="mailConfig.id">
                Редактировать директорию
            </span>

            <button mat-button color="primary" class="close-button" mat-dialog-close [mat-dialog-close]="false">
                <span class="mat-button-wrapper">
                    <mat-icon role="img" class="mat-icon close-icon" aria-hidden="true">
                        close
                    </mat-icon>
                </span>
            </button>
        </h2>
    </div>

    <div class="content">
        <div class="row expansionpanel">
            <div class="cell">
                <mat-form-field appearance="fill">
                    <mat-label>Содержание vrt</mat-label>
                    <textarea matInput [(ngModel)]='xmlText' rows="25" cols="40"
                    autocomplete="off"></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>


    <div class="actions">
        <button mat-button color="primary" class="close-button" mat-dialog-close [mat-dialog-close]="false">
            <span class="mat-button-wrapper">
                <mat-icon role="img" class="mat-icon " aria-hidden="true">
                    close
                </mat-icon> Отмена
            </span>
        </button>
        <button mat-button mat-dialog-close [mat-dialog-close]="xmlText" color="accent" class="save-button">
            <span class="mat-button-wrapper">
                <mat-icon role="img" class="mat-icon" aria-hidden="true">
                    save
                </mat-icon> Сохранить
            </span>
        </button>
    </div>
</div>